html body{
    width:100%;
}
.hgx_header_long{
 
    height: 400px;
    margin: 0 auto;
    background: url(../images/hgx_x01.jpg) no-repeat;
    background-size: cover;
    .hgx_header{
        width: 1200px;
        margin: 0 auto;
        height: 400px;
       
       
        h2{
            color: white;
            font-size: 40px;
          padding: 126px 0 21px 0;
        }
        h3{
            color: white;
            font-size: 16px;
        }
    }
}
.hgx_main_long{
    background:#f2f2f2;
}
.hgx_main{
    width: 1200px;
    margin:0 auto;
    background:#f2f2f2;
    padding-top: 40px;
    .hgx_main_left{
        width: 285px;
        min-height: 475px;
        background: #ffffff;
        float: left;
        //margin: 0 6px;
        ul{
           float: left;
            li{
                font-size: 16px;
                line-height: 40px;
                margin-left: 32px;
                
            }
        }
        ul li:nth-child(1){
            font-size: 18px;
            padding-top: 36px;
            font-weight: 800;
        }
    }
    .hgx_main_right{
        background: #ffffff;
       float: right;
       width:437px;
       height:474px;
       
       margin: 0px 0 20px 20px;
        img{
            width: 270px;
            height: 270px;
           display: block;
            margin: 0 auto;
        }
        h3{
            font-size: 24px;
            margin-left: 34px;
            margin-bottom: 16px;
        }
        h4{
            font-size: 16px;
            font-weight: normal;
            margin-left: 34px;
            width: 370px;
            line-height: 24px;
        }
        .hgx_shop{
           text-align: center;
           display:inline-block;
            padding-top:12px;
            background: #393b3d;
            width: 128px;
            height:34px;
            color:#ffffff;
            margin:33px 33px 0 32px; 
        }
        .hgx_shop:hover{
            background:#494c4d;
        }

        .hgx_more{
            color: #303233;
             span{
                color: #303233;
                font-size: 16px;
             }
        }
    }
}
